@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Telegraf';
  src: url('../../public/fonts/telegraf/PPTelegraf-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Telegraf-Bold';
  src: url('../../public/fonts/telegraf/PPTelegraf-UltraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Telegraf-Light';
  src: url('../../public/fonts/telegraf/PPTelegraf-UltraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham';
    src: url('../../public/fonts/gotham/GothamBook.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../../public/fonts/gotham/GothamMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'San Fransisco';
    src: url('../../public/fonts/san-fransisco/SFNSText-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Cy-Grotesk-Key-Bold';
    src: url('../../public/fonts/cy-grotesk-key/cy-grotesk-key-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Samsung';
    src: url('../../public/fonts/samsung/samsung.ttf') format('truetype');
}


.font-telegraf {
  font-family: 'Telegraf', sans-serif;
}

.font-telegraf-bold{
    font-family: 'Telegraf-Bold', sans-serif;
}

.font-telegraf-light{
    font-family: 'Telegraf-Light', sans-serif;
}

.font-gotham{
    font-family: 'Gotham', sans-serif;
}

.font-gotham-medium{
    font-family: 'Gotham-Medium', sans-serif;
}

.font-san-fransisco{
    font-family: 'San Fransisco', sans-serif;
}

.font-cy-grotesk-key-bold{
    font-family: 'Cy-Grotesk-Key-Bold', sans-serif;
}

.font-samsung{
    font-family: 'Samsung', sans-serif;
}

.custom-gradient {
    background: linear-gradient(0deg, #beb7ad 0%, #000000 40%);
  }
  
  @media (min-width: 1024px) { 
    .custom-gradient {
      background: linear-gradient(0deg, #beb7ad 0%, #000000 45%);
    }
  }
  
  @media (min-width: 1280px) { 
    .custom-gradient {
      background: linear-gradient(0deg, #beb7ad 0%, #000000 50%);
    }
  }

  .middle-gradient {
    background: linear-gradient(180deg, black 0%, black 0%,  #2b2d29 50%, black 100%, black 100%);
  }
  
  .quote-symbol {
    font-size: 4rem;
    color: #A9A9A9;
    position: absolute;
    top: -20px;
  }
  
  .Testimony p::before {
    content: '“';
    font-size: 5.5rem;
    font-family: 'Cy-Grotesk-Key-Bold';
    color: #A9A9A9;
    position: absolute;
    left: -20px;
    top: 0;
  }
  
  .Testimony p::after {
    content: '”';
    font-size: 5.5rem;
    font-family: 'Cy-Grotesk-Key-Bold';
    color: #A9A9A9;
    position: absolute;
    right: -20px;
    bottom: 0;
  }

  @media (max-width: 1200px) {
    .Testimony p::before {
      font-size: 4.5rem;
      left: 0px;
    }
    .Testimony p::after {
      font-size: 4.5rem;
      right: 0px;
    }
    .Testimony p {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 992px) {
    .Testimony p::before {
      font-size: 4rem;
      left: 0px;
    }
    .Testimony p::after {
      font-size: 4rem;
      right: 0px;
    }
    .Testimony p {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  
  @media (max-width: 768px) {
    .Testimony p::before {
      font-size: 3.5rem;
      left: 0px;
      top: -15px;
    }
    .Testimony p::after {
      font-size: 3.5rem;
      right: 0px;
      bottom: -30px;
    }
    .Testimony p {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 576px) {
    .Testimony p::before {
      font-size: 3rem;
      left: 0px;
    }
    .Testimony p::after {
      font-size: 3rem;
      right: 0px;
    }
    .Testimony p {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  

  .underline-gradient {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 55%;
    height: 7px;
    border-radius: 30px;
    background: linear-gradient(to right, #FD4501, black);
    transform: translateX(-50%);
  }
  